<div class="h-70px"></div>
<div class="container-fluid p-0 bg-color-snow">
    <div class="row h-80px m-0">

    </div>
    <div class="row profile">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 photo">
            <img src="assets/images/logo.png" />
        </div>
    </div>
    <div class="row profile-data">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
            <div class="container-fluid p-0">
                <div class="row h-100px m-0"></div>
                <div class="row m-0">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
                        <h5>RP Digital</h5>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
                        <h6>Lights, Sound and Decors, Tirupur</h6>
                    </div>
                </div>
                <hr />
                <div class="row m-0 p-3 profile-about">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 p-5 h-400px">
                        <h6><i class="fas fa-map-marker-alt"></i>  Address</h6>
                        <p>#2/3, Poochakadu 2nd Street,<br/>
                           Near Pazha Godown Bus Stop, <br/> 
                           Mangalam Road, <br/>
                           Karuvampalayam,<br/>
                           Tirupur - 641 604.
                        </p>
                        <h6><i class="fas fa-phone"></i>  Phone</h6>
                        <p>+91 96985 30311</p>
                        <h6><i class="fas fa-envelope"></i>  Mail</h6>
                        <p>rpdigitaltirupur@gmail.com</p>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 p-0 h-400px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.240535605939!2d77.33387101480363!3d11.095442492105548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa32e21bf441c21dc!2sRP%20Digital!5e0!3m2!1sen!2sin!4v1628843966467!5m2!1sen!2sin" width="100%" height="100%" style="border:0;position: relative;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>