<div class="container-fluid bg-color-cathams-blue footer">
    <div class="row h-40px"></div>
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 menu">
            <h5 class="p-3" [routerLink]="['/technopedia/home']">Home</h5>
            <h5 class="p-3" [routerLink]="['/technopedia/gallery']">Gallery</h5>
            <h5 class="p-3" [routerLink]="['/technopedia/about-us']">About Us</h5>
            <h5 class="p-3" [routerLink]="['/technopedia/contact-us']">Contact Us</h5>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 copyright">
            <h5 class="p-3">&copy; {{year}} RP Digital. All rights reserved.</h5>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
</div>