@import "../../../styles/color.scss";
.profile-data {
  margin: 30px;
  background-color: $color-white;
  border-radius: 10px;
  border: 2px solid $color-cathams-blue;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 10px 0 rgb(0 0 0 / 19%);
}
.profile-data h5,
.profile-about h5 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: $color-cathams-blue;
}
.profile-data h6 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: $color-cathams-blue;
}
.profile-about h6 {
  text-align: center;
}
.profile-data hr {
  background-color: $color-light-grey;
  height: 0.5px !important;
  opacity: 1;
  margin: 0;
}
.profile-location1 div i {
  color: $color-cathams-blue;
  font-size: 1.8rem;
}
.profile-location1 div:hover i {
  animation: icon-move 2s;
}
.profile-location1 div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-location1 div h6 {
  margin-bottom: 0;
  padding-left: 10px;
}
.facebook,
.twitter,
.instagram {
  border-left: 1px solid $color-light-grey;
}
.profile-location2 ul {
  list-style: none;
}
.profile-location2 ul li {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.profile-location2 ul li i {
  padding: 0 !important;
  font-size: 2rem;
}
.profile-location2 ul li a {
  line-height: 30px;
}
.profile-about p {
  margin-bottom: 0 !important;
  padding: 1rem !important;
  text-align: justify !important;
}
.profile-location1 ul {
  list-style: none;
  display: inline-flex;
  text-align: center;
  margin: 0;
  padding: 0;
}
.profile-location1 ul li {
  width: 25%;
  text-align: center;
}
.profile-location1 ul li a {
  text-decoration: none;
  justify-content: center;
}
.profile-location1 ul li i {
  color: $color-cathams-blue;
  font-size: 2rem;
}
.profile-location1 ul li a {
  display: flex;
  align-items: center;
  line-height: 47px;
}
.profile-location1 ul li i:hover {
  animation: icon-move 2s;
}
.profile-location1 ul li span {
  font-size: 1.5rem;
  color: $color-cathams-blue;
}
.facebook,
.twitter,
.instagram {
  border-left: 1px solid $color-light-grey;
}

//Media Queries
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .profile-location1 ul li span {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .profile-location1 ul li span {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .profile-location1 ul li span {
    display: none;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .profile-location1 ul li span {
    display: block;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .profile-location1 ul li span {
    display: block;
  }
}

.profile-card-3 {
  position: relative;
  color: $color-cathams-blue;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: 400px;
  border: 2px solid $color-cathams-blue;
}
.profile-card-3 .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.profile-card-3 .background-block .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.9;
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color: #232323;
  float: left;
  background: $color-white;
  height: 50%;
  border-radius: 0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
  content: "";
  background:$color-white;
  width: 120%;
  height: 100%;
  left: 11px;
  bottom: 51px;
  position: absolute;
  z-index: -1;
  transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 120px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 10000;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 25px;
  color: $color-cathams-blue;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
  color: $color-cathams-blue;
}
.profile-card-3 i {
  display: inline-block;
  color: $color-cathams-blue;
  font-size: 16px;
  text-align: center;
  border: 1px solid $color-cathams-blue;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}
.profile-card-3 .icon-block {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.profile-card-3 .icon-block a {
  text-decoration: none;
}
.profile-card-3 i {
  background-color: $color-white;
  color: $color-cathams-blue;
}
.profile-card-3 i:hover {
  background-color: $color-cathams-blue;
  color: $color-white;
  text-decoration: none;
}
.crew {
  margin: 30px;
  border-radius: 10px;
}
.crew i {
  color: $color-cathams-blue;
}
