<div class="h-70px"></div>
<div class="container-fluid p-0 bg-color-snow">
    <div class="row crew">
        <div class="col-md-12">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                        alt="profile-sample1" class="background" />
                </div>
                <div class="profile-thumb-block">
                    <img src="assets/images/anandhakumar.jpg" alt="profile-image" class="profile" />
                </div>
                <div class="card-content">
                    <h2>Anandhakumar R<small>Managing Director</small></h2>
                    <h2><small>+91 96985 30311</small></h2>
                    <div class="icon-block">
                        <a href="https://www.facebook.com/anandhakumar.ramakrishnan.35" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/anandhakumarramakrishnan/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row crew">
        <div class="col-md-4">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                        alt="profile-sample1" class="background" />
                </div>
                <div class="profile-thumb-block">
                    <img src="assets/images/ranjith.jpg" alt="profile-image" class="profile" />
                </div>
                <div class="card-content">
                    <h2>Ranjith R<small>Managing Head</small></h2>
                    <h2><small>+91 90959 30314</small></h2>
                    <div class="icon-block">
                        <a href="https://www.facebook.com/ranjith.r.376" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                        alt="profile-sample1" class="background" />
                </div>
                <div class="profile-thumb-block">
                    <img src="assets/images/shiva.jpg" alt="profile-image" class="profile" />
                </div>
                <div class="card-content">
                    <h2>Shiva Kumar K<small>Chief Advisor & Hardware</small></h2>
                    <h2><small>+91 90957 58532</small></h2>
                    <div class="icon-block">
                        <a href="https://www.facebook.com/tprshiva" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/shiva140k/" target="_blank"> 
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                        alt="profile-sample1" class="background" />
                </div>
                <div class="profile-thumb-block">
                    <img src="assets/images/thanga.jpg" alt="profile-image" class="profile" />
                </div>
                <div class="card-content">
                    <h2>Thangavel A<small>Software & Advertisement</small></h2>
                    <h2><small>+91 90420 79408</small></h2>
                    <div class="icon-block">
                        <a href="https://www.facebook.com/Indianthanga" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/indianthanga/" target="_blank"> 
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>