<div class="home full-screen">
  <div class="home-loader full-screen">
    <div class="box full-screen">
      <div class="box1">
        <div class="company-name">
          <div class="company-name1">
            <h1>RP</h1>
          </div>
          <div class="company-name2">
            <h3>Digital</h3>
          </div>
        </div>
        <div class="company-text">
          <h4>Your Passion... Our Dreams...</h4>
        </div>
      </div>
      <div class="box2">
        <ul class="items-list">
          <li>Professional Sounds & Lights</li>
          <li>Marriage Decoration</li>
          <li>School & College Events</li>
          <li>Parties & Get Together</li>
          <li>Stages & Truss</li>
          <li>Many More...</li>
        </ul>
      </div>
      <img src="/src/assets/images/click-here.png" alt="Click Here to Load Site" height="50" width="50"/>
    </div>
  </div>
</div>


