body, html {
  height: 100%;
  margin: 0;
}
@font-face {
  font-family: 'Anagram';
  src: url('assets/fonts/anagram-webfont-webfont.woff2') format('woff2'),
       url('assets/fonts/anagram-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/opensans-bold.woff2') format('woff2'),
       url('assets/fonts/opensans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}